.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.criminal {
    border: 1px dotted darkmagenta;
    background-color: palevioletred;
    margin: .5em;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
#known__associates__dialog{
    background-color: rgb(201, 204, 204);
    border:1px solid rgb(228, 228, 228);
}
